*{
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
    box-sizing: border-box
}

body {
    background-color: #CCCCCC;
}

.main {
    margin-top: 180px;
    text-align: center;
    font-family: 'Open sans', sans-serif;
    font-weight: bolder;
    color: black;
}

.main h3 {
    padding-bottom: 20px;
    color: black;
}

.form {
    width: 300px;
    background-color: #A8A9AD;
    color: #CCCCCC;
    font-family: 'Open sans', sans-serif;
    font-weight: bolder;
}

::placeholder {
    color: #CCCCCC;
    font-family: 'Open sans', sans-serif;
}

input {
    padding: 10px;
}

button {
    background-color: rgb(45, 91, 136);
    width: 100px;
    color:#CCCCCC;
    font-family: 'Open sans', sans-serif;
    font-weight: bolder;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A8A9AD;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: rgb(45, 91, 136);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Open sans', sans-serif;
    font-weight: bolder;
}

li a:hover {
    background-color: #CCCCCC;
}
