*{
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
    box-sizing: border-box
}

body {
    background-color: #CCCCCC;
}

.main {
    margin-top: 180px;
    text-align: center;
}

.main h1 {
    padding-bottom: 50px;
    color: #A8A9AD;
}

.form {
    width: 300px;
    background-color: #A8A9AD;
    color: #CCCCCC;
    font-family: 'Open sans', sans-serif;
    font-weight: bolder;
}

input {
    padding: 10px;
}

.btn btn-primary btn-block btn-large {
    color: #B3E2A7;
}

::placeholder {
    color: #CCCCCC;
    font-family: 'Open sans', sans-serif;
}
