<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Maternal Health Risk Prediction Model</title>
        <!--link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">

    </head>

    <body>
        <div class="navbar">
            <ul>
                <li class="active"><a href="">Home</a></li>
                <li class="active"><a href="/data">Data Details</a></li>
                <li class="active"><a href="/model">Model Details</a></li>
              </ul>
        </div>
        <div class="main">
            <h3>Enter Your Information</h3>

            <form action="{{ url_for('predict')}}"method="post">
                <input class="form" type="text" name="Age" placeholder=" Enter Your Age" required="required"/>
                <br>
                <br>
                <input class="form" type="text" name="SystolicBP" placeholder=" Enter Your Systolic Blood Pressure" required="required"/>
                <br>
                <br>
                <input class="form" type="text" name="DiastolicBP" placeholder=" Enter Your Diastolic Blood Pressure" required="required"/>
                <br>
                <br>
                <input class="form" type="text" name="BS" placeholder=" Enter Your blood glucose level (mmol/L)" required="required"/>
                <br>
                <br>
                <input class="form" type="text" name="BodyTemp" placeholder=" Enter Your body temp (°F)" required="required"/>
                <br>
                <br>
                <input class="form" type="text" name="HeartRate" placeholder=" Enter your heart rate (bpm)" required="required"/>
                
                <br>
                <br>

                <button type="submit" class="button">Predict</button>
            </form>

            <br>
            {{ prediction_text }}

        </div>

    </body>
</html>