<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Maternal Health Risk Prediction Model</title>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div class="login">
            <h1>Maternal Health Risk Prediction</h1>

            <form action="{{ url_for('predict')}}"method="post">
                <input type="text" name="Age" placeholder="Enter Your Age" required="required"/>
                <input type="text" name="SystolicBP" placeholder="Enter Your Systolic Blood Pressure" required="required"/>
                <input type="text" name="DiastolicBP" placeholder="Enter Your Diastolic Blood Pressure" required="required"/>
                <input type="text" name="BS" placeholder="Enter Your blood glucose levels is in terms of a molar concentration (mmol/L)" required="required"/>
                <input type="text" name="BodyTemp" placeholder="Enter Your body temp in degrees farenheit" required="required"/>
                <input type="text" name="HeartRate" placeholder="Enter your heart rate in bpm" required="required"/>

                <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
            </form>

            <br>
            <br>
            {{ prediction_text }}

        </div>

    </body>
</html>